# Write an SQL query to show the top n (say 10) records of a table.

In [ ]:
select * from table_name limit 10;

# Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
select * from table_name order by salary desc limit 5;