# Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [ ]:
select trim(first_name) from worker;

# Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [ ]:
select distinct(department), length(department) from worker where department in (select distinct(department) from worker);