# Write an SQL query to show only odd rows from aÂ table.

In [ ]:
SELECT * FROM Worker WHERE MOD (WORKER_ID, 2) <> 0;

# Write an SQL query to clone a new table from another table.

In [ ]:
create table clone_table_name like original_table_name;
insert into clone_table_name select * from original_table_name;