# Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

In [ ]:
update t2 set first_name = replace(en, 'a', 'A');

# Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

In [ ]:
select * from worker order by first_name asc , department desc;