# Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:
SELECT * FROM (  SELECT ROW_NUMBER() OVER (ORDER BY SALARY DESC) AS rownumber,Salary  FROM t2)  AS TRI  WHERE rownumber = 5;

# Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
select * from t8 where name in (select distinct(name) from (select w.name, w.sal, w.dep,w.id from t8 as w, t8 as w1 where w.sal = w1.sal and w.id != w1.id and w.dep != w1.dep) as tr1);